{% extends 'base_layout.html'%}


{% block content %}

        <h1>This is Article List</h1>
        
        <div class='article_list'>
            {% for article in article_list %}
                <div class='article'>
                    <h2><a href="{{article.link}}">{{article.title}}</a></h2>     
                    <p> 
                        <b> Date </b> {{article.publish_date}}</b> 
                        <a href="{{article.feedurl}}"> <b>Feed</b> </a> 
                    
                    </p>     
                </div>
            {% endfor %}

        </div>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

{% endblock %}