{% extends 'base_layout.html'%}


{% block content %}
        <h1>This is RSS Page</h1>
        <p>Welcome to RSS</p>
        <div class='rss_list'>
            {% for rss in rss_list %}
                <div class='rss'>
                    <h2><a href="{%url 'rss:detail' slug=rss.slug%}"> {{rss.title}}</a></h2>
                    <a href="{{rss.link}}">{{rss.link}}</a>     
                    <p>{{rss.date}}</p>     
                </div>
            {% endfor %}

        </div>
{% endblock %}